#homeContainer{
    background-image: url("../images/brandImg-001.png");
    background-size: cover;
    height: 250px;
    margin-top: -20px;

}
.btn btn-primary form-control{
    background-color: #8FBACC;
}
#register_jumbo > label{
    text-align: left;
}

#navbar-top{
    background-color: white;
}
#navbar-bottom{
    margin-top: -30px;
    justify-content: space-around;
    background-color: white;
}
#nav-navmenu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
}
#navbar-bottom-menu{
    margin-left: 50px;
}
#footLabel1,
#footLabel2,
#footLabel3{
    margin-top: 10px;
}